# configuration file for get_pkginfo
#-----------------------------------------------------------------
# Plamo Linux の更新パッケージを確認してダウンロードするスクリプト
#-----------------------------------------------------------------

# URL
# チェック/ダウンロード先の UR
#
#URL = http://repository.plamolinux.org/pub/linux/Plamo/

# DOWNLOAD
# ダウンロードしたパッケージの格納方法を linear か subdir に
# する．linear の場合，単一のディレクトリに収める．subdir の
# 場合，カテゴリごとのサブディレクトリに収める．
#
#DOWNLOAD = linear

# DOWNTODIR
# ダウンロードしたパッケージの置き場所(要書き込みパーミッション)
# (ex: /var/Newpkgs)．
#
#DOWNTODIR = /var/Newpkgs

# CATEGORY
# インストールしたカテゴリに関わらずチェックしたいカテゴリを
# 指定する．all を指定した場合，全カテゴリをチェックする．
#
#CATEGORY = 00_base 03_libs

# LOCALBLOCK
# ブロックしたいパッケージ名．一行にベース名をスペース区切り
# で連ねて書く.
#
#LOCALBLOCK = man man_db ffmpeg mplayer

# INSTALL
# 自動インストールのモードを auto か manual にする．manual
# の場合，各パッケージのインストール前に確認する．auto の場
# 合は問い合わせずにインストールを進める．
#
#INSTALL = auto

# BLOCKLIST
# ブロックリスト機能の有無．
#
#BLOCKLIST = True

# REVERSE
# ローカルにインストールされていないパッケージを表示する．
#
#REVERSE = False
